.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/*/build
/build
/captures


#AndroidStudio files
.idea


#JADE files
/desktop/MTPs-Main-Container.txt
/desktop/APDescription.txt